*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: sans-serif;
}
.home-main-container{
    background-color: rgb(254 196 72 / 10%);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 20px;
    height: 750px;
}
.home-main-div1{
    padding: 30px;
    margin-left: 20px;
}
.home-main-div1 p{
    font-weight: 600;
    color: #373737;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0 0 30px;
}
.home-main-div1 h1{
    font-size: 47px;
    font-weight: 700;
    color: #373737;
    margin: 0 0 35px;
    line-height: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s 1 forwards, cursor 0.4s infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0; } 
    to { width: 100%; }
}
.home-main-div1 span{
    font-size: 20px;
    margin-top: 0;
    font-weight: 500;
    color: #555555;
}
.home-main-div1 button{
    background: #FF651C;
    border-color: #FF651C;
    color: #fff;
    box-shadow: 6px 6px 0 -1px #373737;
    width: 28vh;
    height: 7vh;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    transition: ease all 0.35s;
    margin-top: 20px;
    cursor: pointer;
}
.home-main-div2{
    /* border: solid red; */
    text-align: right;
}
.home-main-div2 img{
    width: 94%;
    margin-top: 50px;
    margin-right: 30px;
}


@media screen and (max-width: 400px) {
    .home-main-container{

        width: 100%;
        display: block;
        margin-top: 70px;
        padding: 20px;
    }
    .home-main-div1{

        width: 100%;
        padding-top: 0px;
        margin-left: 0;
        padding: 10px;
        margin-top: 30px;
    }
    .home-main-div1 p{

        font-size: 15px;
        text-align: center;
        margin-top: 13px;
    }
    .home-main-div1{
        text-align: center;
    }
    .home-main-div1 h1{

        font-size: 45px;
    }
    .home-main-div1 span{
        font-size: 14px;
    }
    .home-btn-div{

        text-align: center;
        margin-top: 20px;
    }
    .home-main-div1 button{
        width: 30vh;
        height: 8vh;
    }
}