*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.project-main-div{
    /* border: solid red; */
    margin-top: 50px;
}
#project{
    background-color: rgb(254 196 72 / 10%);
    /* border: solid; */ 
}
#projectid{
    /* border: 1px solid rgb(181, 157, 135); */ 
    padding: 70px;
}
#projectid h1{
    /* margin: 5%; */
    font-size: 50px;
    color: #373737;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}
.project-grid{
    /* border: solid; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    gap: 60px;
    /* margin-top: 10px; */
}
.projectinfo {
    /* border: solid; */
    margin-top: 10px;
    padding: 10px;
    font-family: sans-serif;
}
.projectinfo img{
    /* width: 100%; */
    width: 500px;
    border: solid white;
    height: 48vh;
    /* height: 300px; */
    border-radius: 10px;
}
/* .projectinfo img:hover{
    box-shadow: 6px 6px 0 -1px #373737; 
    transition: ease all 0.7s;
} */
.design{
    display: inline-block;
    padding: 6px 20px;
    background: rgba(255, 101, 28, 0.2);
    color: #373737;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 30px;
}
.projectinfo h4{
    color: #373737;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    width: 70%;
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 34px;
}
.projectinfo p{
    /* border: solid; */
    margin-top: 0;
    margin-bottom: 1rem;
    color: #373737
}
.projectinfo button{
    background: #FF651C;
    border-color: #FF651C;
    color: #fff;
    box-shadow: 6px 6px 0 -1px #373737;
    padding: 8px 20px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease all 0.35s;
    display: inline-block;
    cursor: pointer;
}
.projectinfo button:hover{
    background-color: black;
    color: white;
    box-shadow: 6px 6px 0 -1px #FF651C;
}
.second-Grid{
    border: solid rebeccapurple;
    margin-left: 50px;
    margin-top: 30px;
}
.third-grid{
    margin-top: 30px;
}
.project-All-Btns-Div{
    /* border: solid; */
    display: flex;
    justify-content:start;
    gap: 20px;
    margin-top: 30px;
}
/* @media screen and (max-width: 400px){
    .project-grid{
        border: solid;
        display: block;
    }
} */
@media(max-width:400px){
    #projectid {
      width: 100%;
    }
    #projectid h3{
        margin-left: 10%;
        margin-left: 28%;
        text-align: center;
        font-family: sans-serif;
        font-size: 38px;
        width: 50%;
    }
    .project-grid{
        display: block;
    }
    .projectinfo img{
        width: 100%;
       margin-left: 0px;
    }
    .second-Grid{
        margin-left: 0px;
        margin-top: 30px;
    }
    .third-grid{
        margin-top: 10px;
    }
    .projectinfo h4{
        color: #373737;
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 20px;
        width:100%;
        font-family: sans-serif;
        margin-top: 20px;
    }
    .projectinfo p{
        margin-top: 0;
        margin-bottom: 1rem;
        color: #373737
    }
    .projectinfo button{
        background: #FF651C;
        border-color: #FF651C;
        color: #fff;
        box-shadow: 6px 6px 0 -1px #373737;
        padding: 4px 10px;
        border: 2px solid transparent;
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: ease all 0.35s;
        display: inline-block;
    }
    #projectid h1 {
        font-size: 35px;
    }
}

